@inherits LayoutComponentBase

<div class="is-flex is-flex-grow-1 is-flex-direction-column is-justify-content-flex-start is-align-items-stretch is-fullheight">
    <div>
        <LayoutHeader />
    </div>

    <div class="is-flex is-flex-grow-1 is-flex-shrink-0">
        <AuthorizeView>
            <Authorized>
                @Body
            </Authorized>
            <NotAuthorized>
                <Login />
            </NotAuthorized>
        </AuthorizeView>
    </div>

    <div>
        <LayoutFooter />
    </div>
</div>