<footer class="footer">
    <div class="container has-text-centered">
        @* TODO Replace with single image made in Photoshop *@
        <div class="columns is-size-5 is-centered is-vcentered is-uppercase">
            <div class="column is-narrow">
                <span class="icon"><i class="fas fa-code"></i></span>
            </div>
            <div class="column is-narrow">
                with
            </div>
                    
            <div class="column is-narrow">
                <span class="icon"><i class="fas fa-heart"></i></span>
            </div>

            <div class="column is-narrow">
                by
            </div>

            <div class="column is-narrow">
                <img class="footer-branding" src="images/logo_horizontal_textonly.svg" alt="Talaryon Studios"/>
            </div>
        </div>
    </div>
</footer>