<div class="is-flex is-flex-direction-column is-flex-grow-1 is-justify-content-center is-align-items-stretch">
    <div class="columns is-centered is-gapless">
        <div class="column is-6 is-4-widescreen is-full-mobile">
            <div class="card">
                <div class="card-content">
                    <progress class="progress is-large is-info" max="100"></progress>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    
}