@page "/repositories"
@using Storagr.Data
@inject IStoragrClient StoragrClient;

<span class="title">Repositories</span>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Owner</th>
        <th>Size Limit</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var repository in _repositories.Items)
    {
        var user = _users.Items.FirstOrDefault(v => v.UserId == repository.Owner);
        <tr>
            <td>
                <a href="repositories/@repository.RepositoryId">@repository.RepositoryId</a>
            </td>
            <td>
                @if (user != null)
                {
                    <a href="users/@user.UserId">@user.Username</a>
                }
                else
                {
                    <span>[User not found]</span>
                }
            </td>
            <td>@repository.SizeLimit</td>
        </tr>
    }
    </tbody>
</table>

@code {
    private StoragrUserList _users = new();
    private StoragrRepositoryList _repositories = new();
    
    protected override async Task OnInitializedAsync()
    {
        _users = (StoragrUserList)await StoragrClient
            .Users()
            .RunAsync();
        _repositories = (StoragrRepositoryList)await StoragrClient
            .Repositories()
            .RunAsync();
    }

}