@page "/users"
@using Storagr.Shared.Data
@inject IStoragrClient StoragrClient;

<div class="is-flex-grow-1">
    <div class="container content">
            <span class="title">Users</span>

            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var user in _users)
                {
                    <tr>
                        <td>@user.UserId</td>
                        <td>@user.Username</td>
                    </tr>
                }
                </tbody>
            </table>
    </div>
</div>

@code {
    private IEnumerable<StoragrUser> _users = new List<StoragrUser>();
    
    protected override async Task OnInitializedAsync()
    {
        _users = await StoragrClient.GetUsers();
    }

}