@page "/users"
@using Storagr.Shared.Data
@inject IStoragrClient StoragrClient;

<span class="title">Users</span>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Username</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in _users.Items)
    {
        <tr>
            <td>@user.UserId</td>
            <td>@user.Username</td>
        </tr>
    }
    </tbody>
</table>

@code {
    private StoragrUserList _users = new();
    
    protected override async Task OnInitializedAsync()
    {
        _users = await StoragrClient.GetUsers();
    }

}