@charset "utf-8";
@import "vendors/bulma/sass/utilities/initial-variables.sass";

$body-background-color: #eee;
$background: #eee;

$text: #333;
$text-strong: #333;

$link: #014273;
$link-hover: #00192c;

$navbar-height: 4rem;
$navbar-breakpoint: $tablet;
$navbar-item-img-max-height: 10rem;

$footer-background-color: $background;
$footer-padding: 6rem 1.5rem 1.5rem;

$card-radius: 0;

@import "vendors/bulma/bulma.sass";